# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/
.venv/

# QGIS
*.qgs~
*.qgz~

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Compiled translations
*.qm
